@font-face {
  font-family: FuturaPTHeavy;
  src: url(../font/FuturaPT-Heavy.ttf); }

* {
  padding: 0px;
  margin: 0px;
  color: #3f3e3f;
  letter-spacing: 0.66px; }

body {
  font-family: FuturaPTHeavy; }

a {
  text-decoration: none;
  color: #3f3e3f; }

li {
  list-style-type: none; }

.title {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 30px; }

.moreInfo {
  margin-top: 50px;
  margin-bottom: 50px; }

.standardButton {
  display: inline-block;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.77px;
  color: #3f3e3f;
  cursor: pointer;
  padding: 9px 26px;
  background-color: #ffcf45; }

/************Section_1***********************/
.wrapper {
  overflow-x: hidden; }
  .wrapper .header .headerText {
    background: -webkit-gradient(linear, left top, right top, color-stop(63%, #ffcf45), color-stop(32%, #e5a430));
    background: -webkit-linear-gradient(left, #ffcf45 63%, #e5a430 32%);
    background: -o-linear-gradient(left, #ffcf45 63%, #e5a430 32%);
    background: linear-gradient(to right, #ffcf45 63%, #e5a430 32%);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 6px;
            background-size: 100% 6px;
    padding: 16px 0 23px 0; }
    .wrapper .header .headerText .helpInfo, .wrapper .header .headerText .numberInfo {
      font-size: 18px;
      font-weight: 500; }
    .wrapper .header .headerText span {
      font-weight: 900; }
    .wrapper .header .headerText .standardButton {
      margin-left: 34px; }
  .wrapper .header .navbar {
    margin-top: 50px; }
    .wrapper .header .navbar .navbar-toggler {
      margin-left: 100px;
      border: 2px solid #ffcf45;
      position: relative;
      left: 18%; }
    .wrapper .header .navbar .navbar-brand {
      background-image: url(../img/logo.png);
      background-repeat: no-repeat;
      padding-left: 80px;
      margin-left: 9%;
      padding-top: 0;
      margin-bottom: 10px;
      margin-right: 40px;
      line-height: 20px;
      width: 50px; }
      .wrapper .header .navbar .navbar-brand .logoText {
        position: relative;
        font-weight: 800; }
    .wrapper .header .navbar .navbar-collapse {
      margin-left: 23%; }
      .wrapper .header .navbar .navbar-collapse .search {
        background-image: url(../img/search.png);
        padding: 10px;
        background-color: white;
        border: 0;
        margin-right: 20px; }
      .wrapper .header .navbar .navbar-collapse .language {
        background-color: white;
        border: 0px;
        border-left: 2px solid black;
        padding: 0 20px 0 20px; }
      .wrapper .header .navbar .navbar-collapse .language:active {
        color: #8eb7e4; }
  .wrapper .seection_1 .getHelp, .wrapper .seection_1 .giveHelp {
    margin-top: 20px;
    margin-left: 2px;
    min-height: 300px;
    overflow: hidden;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    padding: 0;
    -webkit-box-shadow: 0 30px 30px rgba(52, 52, 52, 0.15);
            box-shadow: 0 30px 30px rgba(52, 52, 52, 0.15);
    border: 2px solid #e5a430;
    background-color: #ffcf45;
    background-image: -webkit-linear-gradient(50deg, #e5a430 0%, rgba(242, 206, 87, 0) 100%);
    background-image: -o-linear-gradient(50deg, #e5a430 0%, rgba(242, 206, 87, 0) 100%);
    background-image: linear-gradient(40deg, #e5a430 0%, rgba(242, 206, 87, 0) 100%); }
    .wrapper .seection_1 .getHelp .imgContent, .wrapper .seection_1 .giveHelp .imgContent {
      background-color: white;
      width: 160px;
      height: 160px;
      -webkit-border-radius: 85px;
              border-radius: 85px; }
      .wrapper .seection_1 .getHelp .imgContent img, .wrapper .seection_1 .giveHelp .imgContent img {
        margin: 32px;
        height: 100px; }
    .wrapper .seection_1 .getHelp .textContent, .wrapper .seection_1 .giveHelp .textContent {
      font-size: 42px;
      width: 200px;
      line-height: 40px;
      margin-left: 40px;
      margin-top: 20px; }
  .wrapper .seection_1 .giveHelp {
    border: 2px solid #5e8ec0;
    background-color: #92bae4;
    background-image: -webkit-linear-gradient(50deg, #5e8ec0 0%, rgba(140, 182, 227, 0) 100%);
    background-image: -o-linear-gradient(50deg, #5e8ec0 0%, rgba(140, 182, 227, 0) 100%);
    background-image: linear-gradient(40deg, #5e8ec0 0%, rgba(140, 182, 227, 0) 100%); }
  .wrapper .section_2 .banner {
    background-color: #eaedef;
    overflow: hidden;
    margin: 0;
    padding: 0; }
    .wrapper .section_2 .banner .photo {
      width: 300px;
      height: 300px;
      -o-object-fit: cover;
         object-fit: cover;
      -webkit-border-radius: 50%;
              border-radius: 50%; }
      @media only screen and (max-width: 1280px) {
        .wrapper .section_2 .banner .photo {
          width: 150px;
          height: 150px; } }
    .wrapper .section_2 .banner .textInfo {
      padding: 100px; }
      @media only screen and (max-width: 1280px) {
        .wrapper .section_2 .banner .textInfo {
          padding: 0px; } }
  .wrapper .section_2 .item {
    -webkit-border-radius: 50%;
            border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #eaedef;
    margin: 1%; }
  .wrapper .section_2 .item:hover {
    background-color: #ffcf45; }
  .wrapper .section_3 .document_1, .wrapper .section_3 .document_2, .wrapper .section_3 .document_3 {
    margin-top: 10px;
    height: 150px;
    background-color: #ffcf45;
    background-image: -webkit-linear-gradient(50deg, #e5a430 0%, rgba(242, 206, 87, 0) 100%);
    background-image: -o-linear-gradient(50deg, #e5a430 0%, rgba(242, 206, 87, 0) 100%);
    background-image: linear-gradient(40deg, #e5a430 0%, rgba(242, 206, 87, 0) 100%);
    -webkit-border-radius: 25px;
            border-radius: 25px;
    padding: 0; }
    .wrapper .section_3 .document_1 .imgContent, .wrapper .section_3 .document_2 .imgContent, .wrapper .section_3 .document_3 .imgContent {
      margin-bottom: 18px;
      padding: 10px;
      -webkit-border-radius: 50px;
              border-radius: 50px;
      border: 2px solid #3f3e3f; }
    .wrapper .section_3 .document_1 .textContent, .wrapper .section_3 .document_2 .textContent, .wrapper .section_3 .document_3 .textContent {
      font-size: 20px;
      margin-left: 20px; }
  .wrapper .section_3 .document_2 {
    background-color: #ffa146;
    background-image: -webkit-linear-gradient(50deg, #d36d00 0%, rgba(241, 152, 37, 0) 100%);
    background-image: -o-linear-gradient(50deg, #d36d00 0%, rgba(241, 152, 37, 0) 100%);
    background-image: linear-gradient(40deg, #d36d00 0%, rgba(241, 152, 37, 0) 100%); }
  .wrapper .section_3 .document_3 {
    background-color: #8cb6e3;
    background-image: -webkit-linear-gradient(50deg, #5e8ec0 0%, rgba(140, 182, 227, 0) 100%);
    background-image: -o-linear-gradient(50deg, #5e8ec0 0%, rgba(140, 182, 227, 0) 100%);
    background-image: linear-gradient(40deg, #5e8ec0 0%, rgba(140, 182, 227, 0) 100%); }
  .wrapper .section_3 .buttonDownload, .wrapper .section_3 .buttonAdvice {
    background-color: #f2ce57;
    border: 0px;
    height: 40px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    padding: 0 4px 0 4px;
    margin-top: 20px; }
  .wrapper .section_3 .buttonAdvice {
    background-color: #72c5a5;
    color: #ffffff; }
  .wrapper .section_4 .contentEvents .tableEvent {
    margin-top: 20px;
    -webkit-flex-basis: 280px;
        -ms-flex-preferred-size: 280px;
            flex-basis: 280px;
    overflow: hidden;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    border: 3px solid #ffcf45;
    background-color: #fef5d3;
    padding: 18px 30px 25px 27px; }
    .wrapper .section_4 .contentEvents .tableEvent .date {
      border-bottom: 2px solid #ecba44;
      padding-bottom: 20px; }
  .wrapper .section_5 .contentNews .newsItem {
    -webkit-box-shadow: 0 10px 30px rgba(52, 52, 52, 0.07);
            box-shadow: 0 10px 30px rgba(52, 52, 52, 0.07);
    -webkit-border-radius: 10px;
            border-radius: 10px;
    background-color: #ffffff; }
    .wrapper .section_5 .contentNews .newsItem img {
      width: 345px; }
    .wrapper .section_5 .contentNews .newsItem .sub {
      width: 360px;
      position: absolute;
      z-index: 2;
      top: 20px;
      left: 0;
      right: 0; }
    .wrapper .section_5 .contentNews .newsItem h3 {
      font-size: 16px;
      font-weight: 500;
      line-height: 19.18px; }
    .wrapper .section_5 .contentNews .newsItem p {
      font-size: 12px;
      font-weight: 400;
      padding-bottom: 30px; }
  .wrapper .footer {
    background-color: #92bae4;
    border-bottom: 10px solid #ffcf45; }
    .wrapper .footer .newsletter {
      background-color: #ffcf45;
      text-align: center;
      padding: 10px; }
      .wrapper .footer .newsletter p {
        margin-top: 5px;
        font-size: 22px;
        font-weight: 500;
        letter-spacing: 0.66px; }
      .wrapper .footer .newsletter .standardButton {
        padding: 10px 45px;
        height: 45px;
        background-color: #ffffff;
        margin-left: 20px; }
    .wrapper .footer .container .nav {
      margin-top: 50px; }
      .wrapper .footer .container .nav .logo_2 {
        background-image: url(../img/logo_2.png);
        width: 100px;
        height: 70px;
        background-repeat: no-repeat;
        position: relative;
        bottom: 20px;
        margin-right: 40px; }
      .wrapper .footer .container .nav .standardButton {
        color: #3f3e3f;
        position: relative;
        bottom: 10px;
        left: 22px; }
      .wrapper .footer .container .nav a {
        color: white; }
      .wrapper .footer .container .nav .subMenu li {
        font-size: 14px; }
    .wrapper .footer .container .contact {
      float: right;
      text-align: right;
      width: 160px;
      position: relative;
      bottom: 80px;
      font-size: 18px;
      font-weight: 900; }
      .wrapper .footer .container .contact span, .wrapper .footer .container .contact a {
        color: #ffffff; }
      .wrapper .footer .container .contact a {
        font-size: 12px;
        display: inline-block;
        width: 30px;
        text-align: center;
        border: 2px solid #ffffff;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        padding: 3px; }
    .wrapper .footer .container .sponsor {
      position: relative;
      bottom: 120px;
      right: 20px; }
      .wrapper .footer .container .sponsor .itemInfo_1 {
        font-weight: 900; }
      .wrapper .footer .container .sponsor img {
        margin-bottom: 20px;
        margin-right: 32px; }
      .wrapper .footer .container .sponsor .itemInfo_2 {
        color: white;
        padding-left: 25px;
        border-left: 2px solid #ffffff; }
    @media only screen and (max-width: 1080px) {
      .wrapper .footer .container {
        display: none; } }
