<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Page</title>
  <link rel="stylesheet" href="/public/css/normalize.css" />
  <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
  <div class="wrapper">
    <div class='fonConstructor'>
      <div class='constructor'>
        <form class="formEditor">
          <input name="exit" type='button' value="Выйти"/>
          <input name='size' class='scale' type='text' placeholder='Размер картинки в пикселях'/>
          <input name='url' class='url' type='text' placeholder='Вставте ссылку на картинку'/>
          <input class='save' type='button' value='Сохранить' name='save'/>
        </form>

        <div class='testImage'></div>
      </div>
    </div>
    <div class='avatar'>
      <h1 class='avatarLogin size'><%= login %> </h1>
    </div>
    <div class='header size'>

    </div>

    <div class='postList'>
      <form class='formGener'>
        <input type='text'placeholder="Напишите пост" name="message"></input>
        <input name='createImg'type='text' placeholder='Вставте сылку на картинку'></input>
        <input id='send' name='send' type='submit' value='Oтправить'></input>
      </form>
      <ul class='list'>

      </ul>

    </div>
    <div class='exit'> exit </div>
  </div>

  <script src="/public/js/bundle.js"></script>

</body>
</html>
